<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>lcck | 个人博客</title>   
        <!-- Bootstrap -->
		<link rel="icon" href="__INDEX__/images/icon.png" type="image/x-icon" />
		<link href="__INDEX__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
        <script src="__INDEX__/bootstrap/js/jquery.min.js"></script>	
		<script src="__INDEX__/javascript/main.min.js"></script>	
		<script type="text/javascript" src="__INDEX__/javascript/vue.min.js"></script>
    	<!-- <script type="text/javascript" src="__INDEX__/javascript/vue-router.min.js"></script> -->
    	<script type="text/javascript" src="__INDEX__/javascript/vue-resource.min.js"></script>
        <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
		<script type="text/javascript">
		$(function () {
            jQuery('#home').addClass('active');
            jQuery('.author-avatar img').each(function () {
                 var url = jQuery(this).attr('data-url');
                 jQuery(this).attr('src', url);
            });
        });
		</script>
		
    </head>
    <body class="nav-fixed">
		<!--顶部静态导航-->
		{include file="../template/indexweb/Inc/top.html" /}
		    <!--主体内容-->
		<div id="zyn-bodyer">
			<!-- 搜索框 单独放出来了 -->
			{include file="../template/indexweb/Inc/searchInc.html" /}
			<div class="container">
				<!--.container 类用于固定宽度并支持响应式布局的容器。-->
				<div class="row">
					<!--row必须包含在.container（固定宽度）或 .container-fluid （100% 宽度）中,通过row在水平方向创建一组column12个-->
					<!--主体-->
					<div id="mainbody" class="col-md-8">
						<div id="ie-warning" class="alert alert-danger fade in">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<span class="glyphicon glyphicon-exclamation-sign"></span> 请注意，该网站并不支持低于IE8的浏览器，为了获得最佳效果，推荐使用谷歌浏览器。
						</div>
						<!-- 内容主体 包含三部分内容：1.每日提示、2.文章列表、3. 分页条-->
						<div class="well fade in daytips" style="padding:15px;background-color: #f9f9f9;" id="PicList">
							<!-- 首页轮播 -->
							<div id="ad-carousel" class="carousel slide" data-ride="carousel">
								<ol class="carousel-indicators">
									{foreach name="PicData" item="pic" }
										<li  data-target="#ad-carousel" data-slide-to='{$key}'
										class="{$pic.class1}"></li>
									{/foreach}
								</ol>
								<div class="carousel-inner">
									{foreach name="PicData" item="item" }
										<div class="{$item.class2}">
											<img src="{$item.picture}" alt='{$item.alt}' class="img-responsive">
											<div class="container">
												<div class="carousel-caption">
													<h1>{$item.title}</h1>
													<p>{$item.moreinfo}</p>
												</div>
											</div>
										</div>
									{/foreach}
								</div>
								<a class="left carousel-control" href="#ad-carousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
								<a class="right carousel-control" href="#ad-carousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
							</div>
						</div>
						<div id="article-list">
							<template v-for="(item,index) in artDataList">
							<article :class="item.class">
								<header>
								<a class="cat" href="#" v-text="item.cateName"><i></i></a>
								<h2><a class="gotoArchive" :href="item.infourl" :title="item.title" v-text="item.title"></a></h2>
								</header>
								<p class="meta">
								<span class="posttime" v-text="item.pubtime"></span>
								<span class="viewnum">浏览(<a href="javascript:;" v-text="item.liulan_num"></a>)</span>
								<span class="commentnum">评论(<a href="" v-text="item.pinlunNum"></a>)</span>
								<span class="praisebtn">  
								<img width="15" height="15" class="praisenum" src="/static/images/ico_praise.png" />(<a :data-id="item.id" praise-flag="0"  href="/" v-text="item.zhan_num"></a>)</span>
								</p>
								<p class="note" v-html="item.moreinfo"></p>
								<footer class="entry-footer">
								<span itemprop="keywords" class="tags-links">
								<template v-for="keywords in item.keywords">
									<a rel="tag" href="/" v-text="keywords"></a>
								</template>
								</span>
								<a class="more-link gotoArchive" rel="nofollow" :href="item.infourl">继续阅读 »</a>
								</footer>
								</article>
						</template>
						<div id="artloading" style="text-align:center;">
							<img v-if="!(pageReady)" width="32" height="32" src="__INDEX__/images/ico_loading.gif" />
							<font color="red" v-text="msg"></font>
						</div>
						</div>
					</div>
					<aside class="col-md-4" id="sidebar">
						<!-- 关注我 -->
						{include file="../template/indexweb/Inc/followMe.html" /}
						<!-- 标签云 -->
						{include file="../template/indexweb/Inc/tagCloud.html" /}
						<!-- 站长推荐 -->
						{include file="../template/indexweb/Inc/hot.html" /}
						<!-- 雁过留声 -->
						{include file="../template/indexweb/Inc/goose.html" /}
						<!-- 友情链接 -->
						{include file="../template/indexweb/Inc/links.html" /}				
				</aside>
				</div>
			</div>
		</div>
		<!--页脚版权声明-->
		{include file="../template/indexweb/Inc/footer.html" /}
        <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
        <script src="__INDEX__/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript">
			var pageData={
				url: "/Index/getIndexPage",
				i: 1,
				ready: true,
				over: false
			}
	        var vm = new Vue({
	            el:"#article-list",
	            data:function(){
	                return {
	                    artReady:false,
	                    pageReady:true,
	                    isSearch:false,
	                    msg:"",
	                    artDataList:[],
	                }
	            },
	            created:function(){
					this.$http({
						url:pageData.url+'/page/'+pageData.i,
						method:"get",
		                emulateJSON:true
					}).then(function(response){
						var artObj = response.body.artData;
						if (artObj) {this.artDataList=artObj;}
						this.artReady=true;
					},function(response){
						console.log("error");
					});
				},
	        })
	        //获取滚动条当前的位置 
			function getScrollTop() { 
			    var scrollTop=0; 
			    if(document.documentElement && document.documentElement.scrollTop){ 
			        scrollTop=document.documentElement.scrollTop; 
			    }else if(document.body) { 
			        scrollTop=document.body.scrollTop; 
			    } 
			    return scrollTop; 
			} 
			//获取当前可视范围的高度 
			function getClientHeight() { 
			    var clientHeight=0; 
			    if(document.body.clientHeight && document.documentElement.clientHeight){ 
			        clientHeight=Math.min(document.body.clientHeight, document.documentElement.clientHeight); 
			    }else{ 
			        clientHeight=Math.max(document.body.clientHeight, document.documentElement.clientHeight); 
			    } 
			    return clientHeight; 
			} 
			//获取文档完整的高度 
			function getScrollHeight() { 
			    return Math.max(document.body.scrollHeight, document.documentElement.scrollHeight); 
			} 
			// 监听滚动事件
			window.onscroll=function () {
			    if (pageData.over) {
			        return false;
			    }else{
				    if ( getScrollHeight()-(getScrollTop()+getClientHeight())<=50 ) {
				    	//设置数据获取状态 防止进行多次请求
				        if (!dealGetPage()) {
				        	return false;
				        }
				        vm.pageReady = false;
				        // 获取下一页的数据
				        vm.$http.get(pageData.url+'/page/'+pageData.i).then(function(response){
				            vm.pageReady = true;
				            pageData.ready = true;
				            console.log(response);
				            if(response.body.artData.length==0){
				            	console.log('3');
				                pageData.over=true;
				                vm.msg = "已经到底啦~";
				            }else{
				            	var artDate = response.body.artData;
				            	for (var i = 0; i <= artDate.length - 1; i++) {
				            		vm.artDataList.push(artDate[i]);
				            	}
				            }
				        })
				    }
			    } 
			}

			function dealGetPage(){
				if (pageData.ready) {
					pageData.i++;
					pageData.ready = false;
					return true;
				}else{
					return false;
				}

			} 
        </script>
    </body>
</html> 