						<aside>
							<div class="panel panel-zyn hidden-xs">
								<div class="panel-heading">
									<span class="glyphicon glyphicon-user newicon"></span> 关注我<span class="tq" id="weather"></span>
								</div>
								<hr style="margin:0 0 10px 0" />
								<div class="gzwm">
									<ul>
										<li><a class="xlwb" href="http://weibo.com/lcck0305" target="_blank" title="新浪微博">新浪</a></li>
										<li><a class="lxyx" href="mailto:cc520820lk@163.com" target="_blank" title="联系邮箱">email</a></li>
										<li><a class="txwb" href="javascript:;" target="_blank" title="腾讯微博">企鹅</a></li>
										<li><a class="github" href="https://github.com/jindai0305" title="github">github</a></li>
									</ul>
								</div>
							</div>
						</aside>