						<aside id="hot_article">
							<div class="panel panel-zyn hidden-xs">
								<div class="panel-heading">
									<span class="glyphicon glyphicon-link newicon"></span>浏览排行
									<span class="panel-remove glyphicon glyphicon-remove-circle"></span>
									<span class="panel-toggle glyphicon glyphicon-upload"></span>
								</div>
								<ul class="list-group list-group-flush" id="zxwz">
									{volist name='hotArray' id='hot'}
									<li class="list-group-item">
										<span class="post-title">
											<a href="/Home/ArtList/ArtInfo/id/{$hot.id}" title="{$hot.title}">
												{$hot.title}
											</a>
										</span>
										<span class="badge">{$hot.liulan_num}</span>
									</li>
									{/volist}
								</ul>
							</div>
						</aside>