<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link type="text/css" media="screen" charset="utf-8" rel="stylesheet" href="__ADMIN__/css/style.account-1.1.css" />
<link charset="utf-8" rel="stylesheet" href="__ADMIN__/css/personal.record-1.0.css" media="all" />
<style type="text/css"> 
.tip-faq{
	clear:both;
	margin-top:0px;
}
#J-table-consume{
	margin-bottom:40px;
}
.ui-form-tips .m-cue{
	 background-position: -27px -506px;
	 *background-position: -27px -505px;
}
#J-set-date a{
	font-family:宋体;
}
</style>
<script language="javascript" type="text/javascript" src="__ADMIN__/js/jquery.min.js"></script>
</head>
<!--[if lt IE 7]><body class="ie6"><![endif]-->
<!--[if IE 7]><body class="ie7"><![endif]-->
<!--[if IE 8]><body class="ie8"><![endif]-->
<!--[if !IE]><!-->
<body>
<!--<![endif]-->
<div id="container" class="ui-container">
  <div id="content" class="ui-content fn-clear" coor="default" coor-rate="0.02">
    <div class="ui-grid-21" coor="content">
      <div class="ui-grid-21 ui-grid-right record-tit" coor="title">
        <h2 class="ui-tit-page">登录日志管理</h2>
        <div class="record-tit-amount">
          <p>总共有<span class="number">{$ct}</span>条数据 </p>
        </div>
      </div>
      <div class="ui-grid-21 ui-grid-right fn-clear" coor="total">
      </div>
    </div>
    <form name="form" method="post" action="#">
      <div class="ui-grid-21 ui-grid-right fn-clear" id="J-table-consume" coor="consumelist">
      <div class="ui-tab">
        <div class="ui-tab-trigger">
          <ul class="fn-clear">
            <li class="ui-tab-trigger-item ui-tab-trigger-item-current">
            <a href="javascript:;" class="ui-tab-trigger-text">登录日志管理</a>
            </li>
          </ul>
        </div>
        <div class="ui-tab-container" id="myScene">
          <div class="ui-tab-container-item ui-tab-container-item-current">
            <div class="amount-scheme-a fn-clear">
              <table id="tradeRecordsIndex" class="ui-table">
                <thead>
                  <tr>
                    
                    <th class="info">登录时间</th>
                    <th class="info">登录IP</th>
                    <th class="info">是否成功</th>
                    <th class="info">失败原因</th>
                  </tr>
                  {volist name='list' id='ls'}
                  <tr>
                    <th class="info">{$ls.login_time|date="Y-m-d H:i", ###}</th>
                    <th class="info">{$ls.login_ip}</th>
                    <th class="info">{if condition="$ls['state'] eq 1"}成功{else /}<font color='red'>失败</font>{/if}</th>
                    <th class="info">
                      {$ls.reason}
	                </th>
                  </tr>
                  {/volist}
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
            <div class="fn-clear pg">
            </div>
          </div>
        </div>
      </div>
      <!-- /交易记录-->
    </form>
  </div>
</div>
</div>
</body>
</html>
